.container {
  display: flex;
  justify-content: space-around;
  background-color: #737273;
  color: white;
  margin-top: 1em;
  padding: 1em 0;
}
.link {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 1em;
}
