.container {
  margin: 1em 0;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  background-color: #f68144;
  align-items: center;
  color: #737273;
}
.button {
  background-color: #737273;
  padding: 0.5em;
  color: #f68144;
  transition: transform 300ms;
}
.button:hover {
  background-color: #f68144;
  padding: 0.5em;
  color: #737273;
  transform: scale(0.7);
}
