/* BASIC */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
body {
  font-family: Karla;
}

.service-container {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 2em;
}
.service {
  width: 35em;
  height: 35em;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}
.service:hover {
  opacity: 0.7;
  box-shadow: 2px 2px 10px black;
}

.service__link-one,
.service__link-two {
  text-decoration: none;
  font-size: 4em;
  color: rgb(255, 255, 255);
  z-index: 1;
  padding: 3em 0 3em 0;
}
.service__picture-one,
.service__picture-two {
  position: absolute;
  object-fit: cover;
  width: 35em;
  height: 35em;
  z-index: -1;
}

/* MAIN NAV */
.main-nav {
  top: 0;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 10;
}

.main-nav__links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  align-items: center;
}

.main-nav__single-link {
  text-decoration: none;
  color: #737273;
  font-size: 1.2em;
  position: relative;
}
.main-nav__single-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #f68144;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
.main-nav__single-link:hover::after,
.main-nav__single-link:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

/* SUPIRKIMAS */

.scrap-service-container {
  margin: 0 auto;
  min-height: 100vh;
}

/* SLIDERIS */
.services-slides {
  position: relative;
  height: 30em;
}

.slide-img {
  width: 100%;
  height: 30em;
  object-fit: cover;
  z-index: 0;
  position: absolute;
  transition: 0.5s ease;
}

.slide-info {
  transition: 0.5s ease;
  position: relative;
  top: 10em;
  z-index: 3;
  text-align: center;
  padding-bottom: 0.5em;
  color: white;
}
.services-slides:hover .slide-info {
  background-color: #f68244de;
  color: #737273;
}
.slide-title {
  font-size: 4em;
  margin: 0;
}
/* .slide-title:hover,
.slide-address:hover,
.slide-phone:hover {
  color: #f68144;
} */
.logo-text {
  letter-spacing: 2px;
  text-shadow: #737273 2px 2px 2px;
  font-stretch: expanded;
  font-size: 2em;
  padding: 0.3em 0;
  margin: 0;
  font-style: italic;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #f68144;
  transition: ease-out transform 300ms;
}
.logo-text:hover {
  transform: scale(1.5);
  letter-spacing: 5px;
}
.burger-nav {
  display: none;
  align-items: center;
  position: relative;
}
.burger-nav-icon {
  color: #737273;
  font-size: em;
}
.burger-links {
  opacity: 0;
  flex-direction: column;
  position: fixed;
  top: 58px;
  left: 8px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px black solid;
}
.burger-nav__single-link {
  text-decoration: none;
  color: #737273;
  font-size: 1.2em;
  position: relative;
  background-color: white;
}

.show-links {
  transition: opacity 300ms;
  opacity: 1;
}
@media only screen and (max-width: 600px) {
  .service-container {
    flex-direction: column;
    gap: 0;
  }
  .service {
    width: 25em;
    height: 25em;
  }
  .service__picture-one,
  .service__picture-two {
    width: 25em;
    height: 25em;
    opacity: 0.8;
  }
  .service__link-one,
  .service__link-two {
    padding: 2em 0 1.5em 0;
    margin-bottom: 1em;
  }
  .main-nav__links {
    display: none;
  }
  .burger-nav {
    display: flex;
    font-size: 2em;
  }
  .burger-nav__single-link {
    display: flex;
    flex-direction: row;
  }
  .logo-text:hover {
    letter-spacing: 2px;
    transform: none;
  }
}
